<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>689841379276-po2uu65r36pleef70akdp7s13j6b9ccq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689841379276-po2uu65r36pleef70akdp7s13j6b9ccq</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4UfkRmHFpjjwsdFE7T7cQCneF0iaGlg</string>
	<key>GCM_SENDER_ID</key>
	<string>689841379276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ink.testorg.my-testProj</string>
	<key>PROJECT_ID</key>
	<string>my-test-project-1e5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>my-test-project-1e5fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689841379276:ios:aa1ba10b5e04c8ae</string>
	<key>DATABASE_URL</key>
	<string>https://my-test-project-1e5fe.firebaseio.com</string>
</dict>
</plist>